<html>
    <head>
        <title>Wikipages</title>
    </head>
    <body>
        <h2>Welcome to the Wikipages Faux-Yellow Pages!</h2>
        @Html.ActionLink("View All Businesses", "Index", "Businesses", null) <br />
        @Html.ActionLink("View All Categories", "Index", "Categories", null)
    </body>
</html>