<html>
    <head>
        <title>Wikipages</title>
    </head>
    <body>
        <h2>Welcome to the Wikipages Faux-Yellow Pages!</h2>
        @Html.ActionLink("View All", "Index", "Businesses", null)
    </body>
</html>